
{{!-- /*
++++++++++++++++++++++++++++++++
Name: Francisco Castillo
Course: WEB'322'
Section: NAA
++++++++++++++++++++++++++++++++
*/ --}}
<div class="cardsHome">
    <img src="{{ this.imageURL }}" alt="{{this.name}} alt">
    <footer>
        <p>{{this.name}}</p>
    </footer>
</div>