<header>
    <div>
        <a class="active" href="/">HOME</a>
        <a href="/catalogue">CATALOGUE</a>
    </div>
    <h2> Francisco's Rentals </h2>
    <div class="search-container">
        <form id="search-form" action="/search" method="get">
            <input type="text" placeholder="Search.." name="query" />
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</header>