<form class="col-sm-4 m-auto needs-validation" method="post" action="/login">
<h3>Log in</h3>
  <div class="col">
    <label for="cardNumber" class="form-label">Card number</label>
    <input type="text" class="form-control" id="cardNumber" name="cardNumber" placeholder="example: 1234567" required>
  </div>

  <div class="col-12 mt-3">
    <button class="btn btn-primary" type="submit">Log in</button>
  </div>
</form>